@using Rcsa.Web.Models
@model Rcsa.Web.Models.DepartmentMaster

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    RcsaDb db = new RcsaDb();
    ViewBag.Title = "Details";
}

<h3 class="upcoming-head" style="margin-bottom: 5px; text-align:center">Detail</h3>

<div class="form1" style="text-align: left; margin-left: 20px">
<table  id="hor-minimalist-b" style="margin: 7px 10px 62px -20px;" >
    <tbody>
    <tr>
        <td>
            <strong>Department Name : </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.DepartmentName)</td>
    </tr>
    <tr>
        <td>
            <strong>Company Name : </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.CompaniesMasters.ComapnyName)</td>
    </tr>
    
        </tbody>
</table>
<div style="float:right;clear:both;margin-bottom:20px;margin-right:40px;">
    <strong><u> @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentId })</u></strong>&nbsp;|
    <strong><u>@Html.ActionLink("Back to List", "DepartmentDetails")</u></strong>
     </div>

    <div class="clear"></div>
    
</div>
@*<fieldset>
    <legend>DepartmentMaster</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DepartmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.InsertedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InsertedBy)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Insertedon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Insertedon)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Insertedmachineinfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Insertedmachineinfo)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Updatedby)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updatedby)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Updatedon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updatedon)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Updatemachineinfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updatemachineinfo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
