@using Rcsa.Web.Models
@model Rcsa.Web.Models.SubRiskMaster

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    RcsaDb db = new RcsaDb();
    ViewBag.Title = "Create";
}

<h3 class="upcoming-head" style="margin-bottom: 5px; text-align: center;">Add Sub Risk</h3>
<div class="form1">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            <label>Risk<span class="requiredFields">*</span></label>
            @Html.DropDownListFor(m => m.RiskId, new SelectList(db.RiskMasters, "RiskId", "RiskName"), "---Select---", new { id = "ddlRisk", style = "width:348px;height:36px;" })
            <div class="clear"></div>
            @*<label>Sub Risk</label>
            @Html.DropDownListFor(m => m.SubRiskId, new SelectList(db.SubRisksMaster, "SubRiskId", "SubRiskName"), "---Select---", new { id = "ddlRisk" })
            <div class="clear"></div>*@
            <label>Sub Risk Name<span class="requiredFields">*</span></label>
            @Html.EditorFor(model => model.SubRiskName, new { @MaxLength = "100" })
            <div class="clear"></div>
            <label>Description</label>
            @Html.TextAreaFor(model => model.SubRiskDesc, new { @MaxLength = "2000" })
            <div class="clear"></div>
            <br />
            <br />
            <label>&nbsp;</label>
            <button type="submit" value="Create" class="button1">Create</button>
            <div class="clear"></div>
            <br />
        </fieldset>
    }
</div>
@if (!String.IsNullOrWhiteSpace(ViewBag.Error))
        {
         <div class="error">
            @ViewBag.Error
        </div>   
        }
