@using Rcsa.Web.Models
@model IEnumerable<Rcsa.Web.Models.RiskManagementModel>
@{
    ViewBag.Title = "RiskManagement";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    var db = new Rcsa.Web.Models.RcsaDb();
    int compId = Convert.ToInt32(ViewBag.compId) != 0 ? Convert.ToInt32(ViewBag.compId) : 0;
    int deptId = Convert.ToInt32(ViewBag.deptId) != 0 ? Convert.ToInt32(ViewBag.deptId) : 0;
    var userProfiles = db.UserProfiles.FirstOrDefault(x => x.UserId == WebSecurity.CurrentUserId);
    int riskAssesmentId = Convert.ToInt32(ViewBag.RiskAssesmentId) != 0 ? Convert.ToInt32(ViewBag.RiskAssesmentId) : 0;
    var riskDetails = db.RiskAssessmentMaster.Where(x => x.RiskAssessmentId == riskAssesmentId).SingleOrDefault();
    int lastUpdateId = Convert.ToInt32(ViewBag.lastId) != 0 ? Convert.ToInt32(ViewBag.lastId) : 0;
    // int value  =Url.RequestContext.HttpContext.Request.QueryString.AllKeys.Contains("ReturnUrl");
    string value = Request.QueryString["editId"];
    RiskManagementModel model = new RiskManagementModel();
    RcsaDb db1 = new RcsaDb();
    ViewBag.Title = "Users Report";
    
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {

        $('#btnSearch').click(function () {
            debugger;
            var comp = $('#hfCompId').val();
            var dept = $('#hfDeptId').val();
            var riskAssessmentName = $('#hfRiskAssesmentId').val();
            var riskRate = $('#ddlInherentRiskRating option:selected').val();
            var issueSave = $('#ddlIssueSeverity option:selected').val();
            var subriskImp = $('#ddlSubriskImpact option:selected').val();
            var subrisklike = $('#ddlSubriskLikelihood option:selected').val();
            var mitigant = $('#ddlMitigantImportance option:selected').val();
            var reportType = $('#ddlReportTye option:selected').val();
            var reportTypeValue = $('#ddlReportTye option:selected').text();
            var winW = $(window).width() - 15;
            var winH = $(window).height() - 15;
            $.ajax({
                url: '../../Standard/SpecificRiskDetails',
                data: JSON.stringify({
                    compId: comp, deptId: dept, riskAssessmentName: riskAssessmentName, reportType: reportType, value: reportTypeValue
                }),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                async: false,
                success: function (response) {
                    debugger;
                    $('#error').hide();
                    var v = response;
                    if (v == "1") {
                        $('#reportData').attr('src', '/ReportForms/CustomizedReport.aspx');
                        $("#Dialog").dialog({
                            position: { my: "center", at: "center", of: "center" },
                            top: 30,
                            left: 50,
                            width: winW,
                            height: winH,
                            modal: true,
                            title: 'Report'
                        });
                        return false;
                    }
                    else {
                        $('#Dialog').hide();
                        //$('#reportData').hide();
                        $('#error').show();
                        return false;
                    }
                }
            });
        });

    });


</script>

<style>
    select
    {
        width: 100px;
    }

    textarea, input[type=text]
    {
        width: 100px;
        border-radius: 5px;
        box-shadow: 0px 0px;
        border: 1px solid silver;
        padding: 2px 5px;
        margin-bottom: 5px;
    }

    input[type=text]
    {
        height: 30px;
    }

    textarea
    {
        height: 60px;
    }

    .highlight
    {
        background-color: lightblue !important;
    }
</style>
<link href="~/Content/grid.css" rel="stylesheet" />
<h3 class="upcoming-head" style="margin-bottom: 15px; text-align: center;">Specific Risk Type Report</h3>

@using (Html.BeginForm())
{
   
   
    
    <input type="hidden" id="hfCompId" name="hfCompId" value="@compId" />
    <input type="hidden" id="hfDeptId" name="hfDeptId" value="@deptId" />
    <input type="hidden" id="hfRiskAssesmentId" name="hfRiskAssesmentId" value="@riskAssesmentId" />
    <input type="hidden" id="hfRiskId" name="hfRiskId" value="0" />
    <input type="hidden" id="hfSubRiskId" name="hfSubRiskId" value="0" />
    <input type="hidden" id="hfMitigantId" name="hfMitigantId" value="0" />
    <input type ="hidden" id="gfvalue" name="hfname" value="@value"/>
   
    <div>
        <table id="hor-minimalist-b" cellpadding="2" cellspacing="2">
            <tr>
                <td >
                    <strong>Company Name:</strong>
                </td>
                <td >
                    @ViewBag.companyName
                </td>
                <td>
                    <strong>Department Name:</strong>

                </td>
                <td align="left">
                    @ViewBag.departmentName
                </td>                

            </tr>
            <tr>
                <td>
                    <strong>Risk Assessment Name:</strong> 

                </td>
                <td colspan="3">
                    @ViewBag.riskheaderName
                </td>
            </tr>
            <tr>
                <th scope="col" colspan="4">Report Type</th>
            </tr>
            <tr>
                <td colspan="4">
                    @Html.DropDownList("list", ViewData["list"] as SelectList, new { id = "ddlReportTye", style = "width:240px;height:24px;" })
                </td>
            </tr>

        </table>
        <div style="clear: both;">&nbsp;</div>
        <input type="button" id="btnSearch" value="Show Report" class="button1" />
    </div>
    <div id="Dialog" style="display: none; min-height: 600px; width: 98%">
        <iframe id="reportData" height="95%" style="border: 0px; width: 98%"></iframe>
    </div>
    <div id="error" class="error1" style="display: none;">No records found!!!</div>
 
}
