<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Risk and Audit Management System (RAMS)</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <center>
            <!-- HEADER START HERE-->
            <header>
                  &nbsp;
            </header>
            <!-- HEADER ENDS HERE-->
            <div id="wraper">
                @RenderBody()
            </div>
        <div class="clear">&nbsp;</div>
        <div style="margin-top:20px;">
            <!-- Footer start here-->
            <footer >© 2013 Risk and Audit Management System (RAMS). All rights reserved.</footer>
            <!-- Footer Ends here-->
        </div>
            
    </center>
    @RenderSection("scripts", required: false)
    <script>
        $('body').on('click', 'a.del', function () {
            return confirm('Performing this action will delete all the records associated with this item as well. Continue?');
        });
        /*
        $('.del').on('click', function () {
            
        });*/
        </script>
</body>
</html>
