@using Rcsa.Web.ViewModel
@model Rcsa.Web.Models.RegisterModel
@{
    ViewBag.Title = "Add Consultant";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<h3 class="upcoming-head" style="margin-bottom: 5px; text-align: center">Add Consultant</h3>

<div class="form1">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>

            <label>User Name <span class="requiredFields">*</span></label>
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "User name", @MaxLength = "25", tabindex = "1", autofocus = "", })
            <div class="clear"></div>
            <div class="clear"></div>
            <label>First Name<span class="requiredFields">*</span></label>
            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First name", @MaxLength = "20", tabindex = "2" })
            <div class="clear"></div>
            <label>Last Name<span class="requiredFields">*</span></label>
            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last name", @MaxLength = "20", tabindex = "3" })
            <div class="clear"></div>
            <label>Email<span class="requiredFields">*</span></label>
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", autocomplete = "off", @MaxLength = "50", tabindex = "4" })
            <div class="clear"></div>
            <div id="divCompany" style="display: none">
                <label>Company</label>
                @Html.DropDownList("dlCompany", new SelectList(CompanyViewModel.GetAllCompany(), "CompanyId", "ComapnyName"), "--- Select ---", new { id = "dlRole", style = "width:348px;height:36px;" })
                <div class="clear"></div>
            </div>
            <label>Password<span class="requiredFields">*</span></label>
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @MaxLength = "12", tabindex = "5" })
            <div class="clear"></div>
            <label>Re-Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Re Password", @MaxLength = "12", tabindex = "6" })
            <div class="clear"></div>
            <br />
            <label>&nbsp;</label>
            <div>
                <button id="btnSave" value="Save" class="button2">Save</button>

                <button id="btnReset" value="Reset" type="reset" class="button2">Reset</button>
            </div>
        </fieldset>
    }
</div>
@section scripts
{
}