@model Rcsa.Web.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form1">
        <fieldset>
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
            <div class="clear"></div>
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
            <div class="clear"></div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            <div class="clear"></div>
            <label></label>
            <input type="submit" class="button1" value="Change password" style="width:150px" />
        </fieldset>
    </div>
}
