@model Rcsa.Web.Models.UserProfile
@{
    ViewBag.Title = "ForgetPassword";
}
@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="login">
        <p>
            <img src="/images/logo.jpg" style="padding-top: 0px;width:160px;height:160px" /></p>
        <h1>Recover your password</h1>
        <fieldset id="inputs">
           
            @Html.TextBoxFor(m => m.Email, new { id="email",placeholder="Enter your email id",autofocus="" })
            @*<input id="email" type="text" placeholder="Enter your email id" autofocus="" required="">*@
            @*<strong>OR</strong>
            @Html.TextBoxFor(m=>m.UserName, new { id="username", placeholder="Enter your user name", autofocus=""})*@
            @*<input id="username" type="text" placeholder="Enter your user name" autofocus="" required="">*@
            <br />
        </fieldset>

        <fieldset id="actions">
            <input type="submit" id="submit" value="Submit" class="button1">
            <a href="@Url.Action("ReportIssue", "Account")">Report issue</a> <a href="@Url.Action("Login", "Account")">Log in</a>
        </fieldset>
        @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        
    }*@
    </div>
}

