@model Rcsa.Web.Models.LocalResetPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<h3 class="upcoming-head" style="margin-bottom: 5px; text-align: center;">Change User password</h3>
<div class="form1">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()    
    <input type="hidden" value="@ViewBag.UserId" name="hdUserId" id="hdUserId" />    
        <fieldset>           
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
            <div class="clear"></div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            <div class="clear"></div>
            <label></label>
            <input type="submit" class="button1" value="Change password" style="width:150px" />
            
        </fieldset>
    <div class="clear"></div>            
            if(!String.IsNullOrWhiteSpace(ViewBag.Message ))
            {
                <div class="success">@ViewBag.Message</div>
            }
}
</div>


