@using Rcsa.Web.Models
@model IEnumerable<Rcsa.Web.Models.RiskManagementModel>
@{
    RiskManagementModel model = new RiskManagementModel();
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    RcsaDb db = new RcsaDb();
    ViewBag.Title = "Users Report";

    var companyId = db.CompanyUsers.FirstOrDefault(x => x.UserId == WebSecurity.CurrentUserId);
    int compId = 0;
    if (companyId != null)
    {
        compId = companyId.CompanyId;
    }
    
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<style>
    .error
    {
        width: 400px;
        border: 1px solid #D8D8D8;
        padding: 5px;
        border-radius: 5px;
        font-family: Arial;
        font-size: 11px;
        text-transform: uppercase;
        background-color: rgb(255, 249, 242);
        color: rgb(211, 0, 0) !important;
        text-align: center;
    }
</style>

<script>
    $(function () {
        $(document).ready(function () {
            $("#ddlCompany").change(function () {
                debugger;
                $('#ddlDepartment').empty()
                var Param = { CompanyId: $('#ddlCompany option:selected').attr("value") };
                $.getJSON("/CompanyUsersReport/DepartmentList/", Param, function (data) {
                    var items = "<option>Select Department</option>";
                    $.each(data, function (i, data) {
                        items += "<option value=" + data.Value + ">" + data.Text + "</option>";
                        $('#ddlDepartment').removeAttr("disabled");
                    });
                    $("#ddlDepartment").html(items);
                });
            });


            $("#ddlDepartment").change(function () {
                debugger;
                $('#ddlRiskAssessment').empty()
                var Param = { departmentId: $('#ddlDepartment option:selected').attr("value") };
                $.getJSON("/CompanyUsersReport/RiskAssessmentList/", Param, function (data) {
                    var items = "<option>All Risk Assessment</option>";
                    $.each(data, function (i, data) {
                        items += "<option value=" + data.Value + ">" + data.Text + "</option>";
                        $('#ddlRiskAssessment').removeAttr("disabled");
                    });
                    $("#ddlRiskAssessment").html(items);
                });
            });

            if ($('#hfcompId').val() == 0) {
                $('#ddlCompany').attr('disabled', true);
                $('#ddlDepartment').attr('disabled', true);
                $('#ddlRiskAssessment').attr('disabled', true);
                $('#ddlIssueSeverity ').attr('disabled', true);
                $('#ddlSubriskImpact ').attr('disabled', true);
                $('#ddlSubriskLikelihood ').attr('disabled', true);
                $('#ddlMitigantImportance ').attr('disabled', true);
                $('#btnSearch').hide();
            } else {

                $('#ddlCompany').removeAttr('disabled');
                $('#ddlDepartment').removeAttr('disabled');
                $('#ddlRiskAssessment').removeAttr('disabled');
                $('#ddlIssueSeverity ').removeAttr('disabled');
                $('#ddlSubriskImpact ').removeAttr('disabled');
                $('#ddlSubriskLikelihood ').removeAttr('disabled');
                $('#ddlMitigantImportance ').removeAttr('disabled');
                $('#btnSearch').show();
            }

        });



        $('#btnSearch').click(function () {
            var comp = $('#ddlCompany option:selected').val();
            var dept = $('#ddlDepartment option:selected').val();
            var riskRate = $('#ddlRiskAssessment option:selected').text();
            var issueSave = $('#ddlIssueSeverity option:selected').val();
            var subriskImp = $('#ddlSubriskImpact option:selected').val();
            var subrisklike = $('#ddlSubriskLikelihood option:selected').val();
            var mitigant = $('#ddlMitigantImportance option:selected').val();
            $.ajax({
                url: '../../CompanyUsersReport/ReportResult',
                data: JSON.stringify({
                    compId: comp, deptId: dept, riskRating: riskRate, issueSaverty: issueSave, subriskImpact: subriskImp
                    , subriskLikehood: subrisklike, mitigantImportance: mitigant
                }),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                async: false,
                success: function (response) {
                    debugger;
                    $('#error').hide();
                    var v = response;
                    if (v == "1") {
                        //$('#reportData').attr('src', '/ReportForms/StandardReport.aspx');
                        //window.open("../ReportForms/StandardReport.aspx", '_blank', 'fullscreen=yes, scrollbars=auto');

                        $('#reportData').attr('src', '/ReportForms/CustomizedReport.aspx');
                        $("#Dialog").dialog({
                            position: { my: "center", at: "center", of: "center" },
                            top: 30,
                            left: 50,
                            width: 1250,
                            height: 630,
                            modal: true,
                            title: 'Report'
                        });
                        return false;
                    }
                    else {
                        $('#Dialog').hide();
                        //$('#reportData').hide();
                        $('#error').show();
                        return false;
                    }
                }
            });


        });
    });
</script>

<h3 class="upcoming-head" style="margin-bottom: 5px; text-align: center;">Department Report</h3>
@using (Html.BeginForm())
{    
   
    <div>
        <table id="hor-minimalist-b">
            <tr>
                @if (User.IsInRole("Manager") || User.IsInRole("User"))
                { 
                    <th>Departments</th>
                }
                else
                {
                    <th>Companies
                    </th>
                    <th>Departments
                    </th>
                }
              @*  <th scope="col">Risk Assessment</th>*@
                <th scope="col">Issue Severity</th>



            </tr>


            <tr>
                @if (User.IsInRole("Manager") || User.IsInRole("User"))
                {
                    <td style="display: none;">
                        @Html.DropDownList("CompanyId", new SelectList(db.CompaniesMaster.Where(x => x.CompanyId == @compId), "CompanyId", "ComapnyName", @compId), new { id = "ddlCompany", style = "width:140px;height:24px;" })
                    </td>                   
                    <td>
                        <input type="hidden" id="hfcompId" value="@compId" />
                        @Html.DropDownList("DepartmentID", new SelectList(db.DepartmentsMaster.Where(x => x.CompanyId == @compId), "DepartmentId", "DepartmentName"), "Select Department", new { id = "ddlDepartment", style = "width:140px;height:24px;" })
                    </td>
                    <td style="display:none">
                        @Html.DropDownList("RiskAssessmentId", new SelectList(db.RiskAssessmentMaster.Where(x => x.CompanyID == @compId),
                       "RiskAssessmentId", "RiskAssessmentName"),
                    "All Risk Assessment", new { id = "ddlRiskAssessment", style = "width:140px;height:24px;" })
                    </td>
                }
                else
                {    
                    <td>
                        @Html.DropDownList("CompanyId", new SelectList(db.CompaniesMaster, "CompanyId", "ComapnyName"), "Select Company",
                        new { id = "ddlCompany", style = "width:140px;height:24px;" })
                    </td>
                    <td>
                        @Html.DropDownList("DepartmentID", new SelectList(db.DepartmentsMaster, "DepartmentId", "DepartmentName"), "Select Department",
                        new { id = "ddlDepartment", style = "width:140px;height:24px;" })
                    </td>
                    <td style="display:none">
                        @Html.DropDownList("RiskAssessmentId", new SelectList(db.RiskAssessmentMaster, "RiskAssessmentId", "RiskAssessmentName"),
                    "All Risk Assessment", new { id = "ddlRiskAssessment", style = "width:140px;height:24px;" })
                    </td>
                }

                <td>
                    @Html.DropDownList("Issue_Severity", new SelectList(model.LevelOfSeverityImpacts, "Value", "Text"), "Select",
                    new { id = "ddlIssueSeverity", style = "width:140px;height:24px;" })
                </td>


            </tr>

            <tr>
                <td style="border: none">&nbsp;</td>
            </tr>

            <tr>

                <th scope="col">Sub Risk Impact</th>
                <th scope="col">Sub Risk Likelihood</th>
                <th scope="col">Mitigant Importance</th>
                <th scope="col">&nbsp;</th>


            </tr>



            <tr>

                <td>
                    @Html.DropDownList("SubRisk_Impact", new SelectList(model.LevelOfSeverityImpacts, "Value", "Text"), "Select", new { id = "ddlSubriskImpact", style = "width:140px;height:24px;" })
                </td>
                <td>
                    @Html.DropDownList("SubRisk_Likelyhood", new SelectList(model.LevelOfSeverityImpacts, "Value", "Text"), "Select", new { id = "ddlSubriskLikelihood", style = "width:140px;height:24px;" })
                </td>
                <td>
                    @Html.DropDownList("Mitigant_Importance", new SelectList(model.LevelOfSeverityImpacts, "Value", "Text"), "Select", new { id = "ddlMitigantImportance", style = "width:140px;height:24px;" })
                </td>

                <td>
                    @*<input type="submit" value="Search" class="button1" />*@
                    <input type="button" id="btnSearch" value="Search" class="button1" />
                </td>

            </tr>

        </table>
        <div style="clear: both;">&nbsp;</div>


    </div>
    <div id="Dialog" style="display: none; min-height: 600px;">
        <iframe id="reportData" width="1315" height="600" style="border: 0px;"></iframe>
    </div>
    <div id="error" class="error1" style="display: none;">No records found!!!</div>
    
}