@model Rcsa.Web.Models.RiskMaster

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    ViewBag.Title = "Create";
}

<h3 class="upcoming-head" style="margin-bottom: 5px; text-align: center;">Add Risk </h3>
<div class="form1">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="clear"></div>
            <label>Risk Name<span class="requiredFields">*</span></label>
            @Html.TextBoxFor(model => model.RiskName,  new  {@MaxLength="200"})
            <div class="clear"></div>
            <label>Description</label>
            @Html.TextAreaFor(model => model.Description, new  {@MaxLength="2000"})
            <div class="clear"></div>
            <br/>
            <label>&nbsp;</label>
            <button class="button1">Submit</button>
        </fieldset>
    }

</div>
@if (!String.IsNullOrWhiteSpace(ViewBag.Error))
        {
         <div class="error">
            @ViewBag.Error
        </div>   
        }
