@using Rcsa.Web.Models
@model Rcsa.Web.Models.CompanyMaster

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    ViewBag.Title = "Edit";
}

<h3 class="upcoming-head" style="margin-bottom: 5px; text-align: center">Edit Company </h3>
<div class="form1">
    @using (Html.BeginForm("Edit", "Company", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            @Html.HiddenFor(model => model.CompanyId)
            <label>Company Name<span class="requiredFields">*</span></label>
            @Html.TextBoxFor(model => model.ComapnyName, new { @MaxLength = "100" })
            <div class="clear"></div>
            <label>Company Number </label>
            @Html.EditorFor(model => model.CompanyNo, new { @MaxLength = "100" })
            <div class="clear"></div>
            <label>Contact Name</label>
            @Html.EditorFor(model => model.ContactName, new { @MaxLength = "50" })
            <div class="clear"></div>
            <label>Phone</label>
            @Html.EditorFor(model => model.Phone, new { @MaxLength = "30" })
            <div class="clear"></div>
            <label>Address</label>
            @Html.TextAreaFor(model => model.CompanyAddress, new { style = "width: 340px; height: 60px;", @MaxLength = "2000" })
            <div class="clear"></div>
            <label>Description </label>
            @Html.TextAreaFor(model => model.CompanyDescription, new { @MaxLength = "5000" })
            <div class="clear"></div>
            <br />
            <label>&nbsp;</label>
            <input type="hidden" value="@Request.QueryString["page"]" name="page" />
            <button type="submit" value="Save" class="button1">Save</button>
            <strong>&nbsp;&nbsp;
            @Html.ActionLink("Back to List", "CompanyDetails", new { page = ViewBag.currentlyOnPage })
            </strong>
        </fieldset>
    }
</div>
@if (!String.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="error">
        @ViewBag.Error
    </div>   
}